

:root {
  --c_dark: #242234;
  --c_bg: #221c1a;

  --bg_back: url(files/pagebg.png);
  --bg_front: url("/files/pagebg2.png");
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-image: var(--bg_back);
  background-attachment: fixed;
  background-color: var(--c_bg);
  
  color: #cbdbfc;
  margin: 0;
  overflow-x: hidden;
}
p {
  color: #ffffff;
  margin: 0;
}
p a, li a {
  color: #ffd541;
}

.thingsbg {
  background-color: white;
}




ul {
  list-style: none;
}
ul.whatsnew {
  text-align: center;
  margin: auto;
  padding: 0;
  width: 360px;
  background-color: var(--c_bg);
  border: 3px solid var(--c_dark);
  border-radius: 20px;
  font-size: 14pt;
  box-shadow: #000000b3 0 0 20px;
}
li.posttitle {
  font-size: 16pt;
  color: white;
  list-style: none;
}
ul.whatsnew li + li {
  border-top: 3px solid var(--c_dark);
  padding: 3px;
  //list-style: circle outside;
}
/*ul.whatsnew li:hover {
  font-weight: bold;
}*/




.things {
  width: 700px;
  height: auto;
  margin: auto;
  padding: 10px;

  background-color: var(--c_dark);
  background-image: var(--bg_front);
  background-attachment: fixed;
  text-align: center;
}
.things.cooler {
  border-radius: 29px;
  width: fit-content;
  padding: 20px;
  margin-top: 20px;

  border: 0px #f6d43f dotted;
  transition: border 0.2s;
}
.things.cooler:hover {
  border: 4px #f6d43f dotted;
  transition: border 0.2s;
}

.bigtab {
  width: 360px;
  display: table-cell;
  margin: 0;
  height: 60px;
}
.bigtab h3 {
  color: #586072;
  //margin: 0;
  font-size: 20pt;
  position: relative;
  font-family: system-ui;

  margin: auto;
  margin-bottom: 42px;
  width: 100px;
  user-select: none;


  text-shadow: 0px 0px 0px #000000;
  transform: translate(0px, 0px);
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}
.bigtab h3.taller {
  margin-bottom: 70px;
}
.bigtab h3:hover {
  color: #737d94;
  cursor: pointer;
}
.bigtab h3.selected {
  color: #cbdbfc;
  text-shadow: 0px 10px 0px #000000;
  transform: translate(0px, -10px);
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

#tabcontainer {
  height: 0;
}


.button1 {
  border: 0;
  color: black;
  background-color: #295c42;
  padding: 10px;
  border-radius: 20px;
  box-shadow: #141013 0px 5px;
  font-size: 16pt;
}
.button1:hover {
  background-color: #337251;
}
.button1:active {
  transform: translate(0px, 5px);
  box-shadow: none;
}


.pfp {
  border-radius: 50%;
  box-shadow: var(--c_bg) 0px 0px 40px;
  height: 142px;
}

.coolshape {
  margin: auto;
  width: 720px;
  height: 100px;
  display: block;

  fill: var(--c_dark);
}



.cooltab {
  position: relative;
  top: -100px;
  margin: auto;
  height: 100px;
  width: 180px;

  pointer-events: none;

  fill: var(--c_dark);
}
.cooltab.selected {
  z-index: -2;
}

.cooltab.selected path {
  pointer-events: fill;
  cursor: pointer;
  fill: black;
}



.centerbox {
  width: 720px;
  margin: auto;
}



.extrasbox {
  height: 0px;
  margin: 0px;
}
.greeting {
  text-align: left;
  margin: 0px;
  position: relative;
  top: 53px;
  left: 10px;
  width: 150px;
  white-space: nowrap;
  font-weight: initial;
}
#themeselect {
  outline: none;
  background-color: var(--c_bg);
  color: #cbdbfc;
  border: none;
  font-weight: bold;
}
.noselect {
  user-select: none;
}




.bottom {
  text-align: center;
  margin-bottom: 50px;
}
.bottom a {
  color: #ffd541;
}
.boxtilt {
  transform: rotate(352deg);
}

.toplink {
  font-size: 0;
}

.artgrid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 6px;
}


.artbox {
  margin: 0px;
  position: relative;
}
.artbox.large {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
.artbox .imgbox {
  width: 345px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}
.artbox.large .imgbox {
  width: 100%;
}
.imgbox:hover {
  transform: scale(0.98);
  transition: transform 0.1s;
}
.artbox .artlabel {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  position: absolute;
  height: 26px;
  //text-shadow: 0px 0px 10px black;
  transform: translate(0px, 26px);
  background-color: #000000a1;
  border-radius: 7px;
  padding: 2px 6px;
  color: white;
  z-index: 1;

  font-size: 17pt;
  text-align: left;
  left: 17px;
  bottom: 45px;
}
.artbox:hover .artlabel {
  visibility: visible;
}
.imgbox.invis {
  visibility: hidden;
}
.artbox.open .artlabel {
  visibility: hidden;
}
.artbox .artlabel.top {
  top: -6px;
}



.backbutton {
  height: 42px;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}
.thingspageimg {
  max-width: 45%;
}
.h1title {
  font-size: 72pt;
  margin: 0;
  margin-bottom: 50px;
}
.logotitle {
  color: #f6d43f;
  text-shadow: #295c42 6px 6px, #141013 12px 12px;
  transition: text-shadow 0.2s;
}
.logotitle:hover {
  text-shadow: #27547d 8px 8px, #242234 16px 16px;
  transition: text-shadow 0.2s;
}

.funheading:hover {
  text-shadow: #f6d43f 0px 0px 0px;
  transition: text-shadow 0.2s;
}
.funheading {
  text-shadow: #f6d43f 0px 0px 12px;
  transition: text-shadow 0.2s;
  width: fit-content;
  margin: auto;
  margin-bottom: 25px;
}


.namegif {
  filter: drop-shadow(4px 4px 0px #295c42) drop-shadow(4px 4px 0px #141013);
  transition: filter 0.2s;
}
.namegif:hover {
  filter: drop-shadow(-4px 4px 0px #27547d) drop-shadow(-4px 4px 0px #141013);
  transition: filter 0.2s;
}




.modal {
  display: none;
  z-index: 1;
  margin: auto;
  padding: 10px;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  overflow-y: scroll;
}
.modal p {
  max-width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.modal.open {
  display: block;
}
.modal.zoom.open .imgbig {
  cursor: zoom-in;
}
.modal.zoom.open.zoomed .imgbig {
  cursor: zoom-out;
}


.modal .imgbig {
  margin: 0;
  max-width: 80%;
  max-height: 80%;
  border: 2px solid white;
  overflow-y: scroll;
}
.modal.zoomed .imgbig {
  max-width: 90%;
  max-height: 300%;
}
.modal .modal_exit {
  cursor: pointer;
  margin: auto;
  width: fit-content;
}




img, video {
  user-select: none;
  margin: 15px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
canvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
a img {
  image-rendering: auto;
  width: auto;
  height: 46px;
}

.minibutton {
  height: 48px;
  cursor: pointer;
}
#minigame {
  z-index: 2;
  position: relative;
  width: 208px;
}
.imgbig_game {
  margin: 0;
  height: 450px;

  z-index: -2;
  overflow: hidden;

  position: relative;
}




.tilt:hover {
  filter: drop-shadow(0px 4px 0px #141013);
  transform: translate(0px, -4px);
}
.noscroll {
  overflow: hidden;
}
.invis {
  visibility: hidden;
}
.nobg {
  background-image: none;
  background-color: transparent;
}


#loading {
  z-index: 10;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.23);
}

#loadgif {
  position: fixed;
  top: 30%;
  margin: auto;
}

.pix {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}