

:root {
  --c_dark: #242234;
  --c_bg: #221c1a;
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-image: url(files/pagebg.png);
  background-attachment: fixed;
  background-color: var(--c_bg);
  
  color: #cbdbfc;
  margin: 0;
  overflow-x: hidden;
}
p {
  color: #ffffff;
  margin: 0;
}
p a, li a {
  color: #ffd541;
}




ul {
  list-style: none;
}
ul.whatsnew {
  text-align: center;
  margin: auto;
  padding: 0;
  width: 360px;
  background-color: var(--c_bg);
  border: 3px solid var(--c_dark);
  border-radius: 20px;
  font-size: 14pt;
  list-style: circle;
}
li.posttitle {
  font-size: 16pt;
  color: white;
  list-style: none;
}
ul.whatsnew li + li {
  border-top: 3px solid var(--c_dark);
  padding: 3px;
}




.things {
  width: 700px;
  height: auto;
  margin: auto;
  padding: 10px;

  background-color: var(--c_dark);
  text-align: center;
}

.coolshape {
  margin: auto;
  width: 720px;
  height: 100px;
  display: block;

  fill: var(--c_dark);
}

.centerbox {
  width: 720px;
  margin: auto;
}


.greetingbox {
  height: 0px;
  margin: 0px;
}
.greeting {
  text-align: left;
  margin: 0px;
  position: relative;
  top: 53px;
  left: 10px;
  width: 150px;
}
.noselect {
  user-select: none;
}


.bottom {
  text-align: center;
  margin-bottom: 50px;
}
.bottom a {
  color: #ffd541;
}
.boxtilt {
  transform: rotate(352deg);
}

.artgrid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 6px;
}


.artbox {
  margin: 0px;
}
.artbox.offset {
  height: 0;
}
.artbox.large {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
.artbox img.imgbox {
  width: 345px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}
.artbox.large img.imgbox {
  width: 100%;
}
img.imgbox:hover {
  transform: scale(0.98);
  transition: transform 0.1s;
}




.modal {
  display: none;
  z-index: 1;
  margin: auto;
  padding: 10px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow-y: scroll;
}
.modal p {
  margin-bottom: 50px;
}
.modal.open {
  display: block;
}
.modal.zoom.open img.imgbig {
  cursor: zoom-in;
}
.modal.zoom.open.zoomed img.imgbig {
  cursor: zoom-out;
}


.modal .imgbig {
  margin: 0;
  max-width: 80%;
  max-height: 80%;
  border: 2px solid white;
  overflow-y: scroll;
}
.modal.zoomed .imgbig {
  max-width: 90%;
  max-height: 300%;
}
.modal .modal_exit {
  cursor: pointer;
  margin: auto;
  width: fit-content;
}




img {
  user-select: none;
  margin: 15px;
  image-rendering: pixelated;
}
a img {
  image-rendering: auto;
}



.tilt {
  transform: rotate(0deg);
}
.tilt:hover {
  transform: rotate(-8deg);
}
.noscroll {
  overflow: hidden;
}
.invis {
  visibility: hidden;
}


#loading {
  z-index: 10;
  margin: 0;
  left: 0;
  top: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.23);
}

#loadgif {
  position: fixed;
  top: 30%;
  margin: auto;
}